*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* start header */
header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(173,217,231,255);
}

.header-row{
    width: 60%;
    height: 60%;
    background-color: rgba(219,164,32,255);
    display: flex;
    justify-content: space-between;
}

.header-logo, .header-link, .header-login{
    border-style: dashed;
    border-width: 2px;
    padding: 10px;
}

.header-link{
    flex-grow: 2;
    text-align: center;
}

.header-login{
    text-align: end;
    padding-left: 20%;
}

.header-logo{
    padding-right: 20%;
   
}
/* end header */

/* start first section */

.first-row{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,1,138,255);
}

.first-col{
    width: 45%;
    height: 80%;
    background-color: rgba(239,130,239,255);
    border-style: dashed;
    border-width: 2px;
}
/* end first section */

/* start second section */
.second-row{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.second-col-65{
    width: calc(65% / 2);
    height: 80%;
    background-color: rgba(31,145,255,255);
    border-style: dashed;
    border-width: 2px;
}
.second-col-45{
    width: calc(45% / 2);
    height: 80%;
    background-color: rgba(254,193,203,255);
    border-style: dashed;
    border-width: 2px;
}
/* end second section */

/* start third section */
.third-row{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(210,211,210,255);
}

.third-col-45{
    width: calc(45% / 2);
    height: 80%;
    background-color: rgba(254,193,203,255);
    border-style: dashed;
    border-width: 2px;
}
.third-col-65{
    width: calc(65% / 2);
    height: 80%;
    background-color: rgba(31,145,255,255);
    border-style: dashed;
    border-width: 2px;
}
/* end third section */

/* start fourth section */
.fourth-row{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.fourth-col-65{
    width: calc(65% / 2);
    height: 80%;
    background-color: rgba(31,145,255,255);
    border-style: dashed;
    border-width: 2px;
}
.fourth-col-45{
    width: calc(45% / 2);
    height: 80%;
    background-color: rgba(254,193,203,255);
    border-style: dashed;
    border-width: 2px;
}
/* end fourth section */

/* start fifth */
.fifth-row{
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(210,211,210,255);
}

.fifth-col{
    width: 55%;
    height: 80%;
    background-color: rgba(34,139,34,255);
    border-style: dashed;
    border-width: 2px;
}
/* end fifth section */

/* start sixth section */
.sixth-row{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(34,39,43,255);
    padding-bottom: 20px;
}
.sixth-col-15{
    width: 15%;
    height: 95%;
    background-color: rgba(241,129,128,255);
    border-style: dashed;
    border-width: 2px;
}
.sixth-col-40{
    width: calc(40% / 4);
    height: 95%;
    background-color: rgba(32,178,170,255);
    border-style: dashed;
    border-inline-color: white;
    border-width: 2px;
}
/* end sixth section */

/* start footer */
footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color:rgba(34,39,43,255);
}

.footer-row{
    width: 55%;
    height: 75%;
    background-color: rgba(126,255,213,255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo{
    border-style: dashed;
    border-width: 2px;
    padding: 5px;
    background-color: rgba(255,183,192,255);
}
.footer-button{
    border-style: dashed;
    border-width: 2px;
    padding: 5px;
    background-color: rgba(255,183,192,255);
}
/* end footer */